{
  "addons": {
    "zotlibupdater@paudels.com": {
      "updates": [
        {
          "version": "2.0",
          "update_link": "https://github.com/paudelbasil/zotLibraryDB/raw/main/zotLibDB.zip",
          "update_hash": "sha256:",
          "applications": {
            "zotero": {
              "strict_min_version": "7.0"
            }
          }
        }
      ]
    }
  }
}
